img {
  width: 100%;
  height: 100%;
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.shop-calendar-div {
  width: 100%;
  /* height: auto; */
  display: grid;
  padding: 3rem;
  margin-bottom: 4rem;
  grid-template-columns: 50% 50%;
}

.shop-calendar {
  width: 100%;
  height: 87vh;
  padding: 1.5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
  cursor: pointer;
}
.shop-calendar-heading {
  font-size: 1.8rem;
  color: rgb(84, 82, 82);
  text-align: center;
  margin-bottom: 2rem;
}
.shop-calendar-detail {
  width: 100%;
  padding: 1.5rem 3rem 1rem 3rem;
  /* height: auto; */
  /* border: 1px solid blue; */
}
/* .shop-calendar-img {
  width: auto;
  height: auto;
} */

.shop-calendar-date {
  width: 100%;
  display: flex;
  justify-content: center;
}

.shop-calendar-d {
  color: rgb(98, 96, 96);
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 2.2rem;
  letter-spacing: 0.1rem;
}
.shop-calendar-banner {
  width: 100%;
  padding: 1rem;
}
.shop-workshops-name {
  font-size: 1.8rem;
  color: rgb(98, 95, 95);
  /* padding: 0.5rem; */
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.shop-calendar-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* border: 1px solid; */
  align-items: center;
}
.shop-workshops-d {
  font-size: 1rem;
  text-align: center;
  color: rgb(102, 101, 101);
}
.calendar-workshops-register-btn button {
  width: 100%;
  border-radius: 0%;
  border-width: 0px;
  background-color: rgb(249, 122, 24);
  padding: 0.4rem;
  margin: 1rem 0 1rem 0;
  color: white;
  font-size: large;
  letter-spacing: 0.1rem;
}
@media only screen and (max-width: 1000px) {
  .shop-calendar-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    /* margin-bottom: 4rem; */
    /* grid-template-columns: 100%; */
    /* grid-template-rows: auto; */
  }
  /* body {
    background-color: rgb(228, 232, 232);
  } */
  .shop-calendar {
    width: 100%;
    height: auto;
    /* padding: 1.5rem; */
    position: relative;
    /* position: sticky; */
    top: 1rem;
    cursor: pointer;
  }
  .shop-workshops-name {
    font-size: 1.3rem;
  }
  .shop-workshops-d {
    font-size: 0.8rem;
  }
}
