.footer-div-1 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(24, 23, 23);
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.footer-div-1-1 {
  width: 80%;
  height: auto;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid white;
}

.footer-div-1-1 ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: rgb(255, 255, 255);
}

@media only screen and (max-width: 700px) {
  .footer-div-1-1 {
    height: auto;
  }
  .footer-div-1-1 ul {
    flex-direction: column;
  }
}

.footer-div-1-1 ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.footer-div-1-1 ul li p {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.footer-div-1-1-icon {
  font-size: 1.8rem !important;
  padding-bottom: 0.2rem !important;
  text-align: center;
}

.footer-div-1-2 {
  width: 80%;
  min-height: 12vh !important;
  color: aliceblue;
  display: grid;
  margin-top: 2.5rem;
  grid-template-columns: 35% 35% 30%;
}
.footer-div-1-2 ul {
  list-style: none;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif !important;
}
.footer-div-1-2-heading {
  font-size: large;
}

.footer-div-1-2 ul li {
  color: white;
  margin-bottom: 0.5rem;
  font-weight: 100 !important;
}
.footer-div-1-2 ul li a {
  color: white;
}

.footer-div-1-2-shop-down {
  display: none !important;
}
@media only screen and (max-width: 700px) {
  .footer-div-1-2 {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    height: auto;
  }
  .footer-div-1-2 ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }
  .footer-div-1-2-nav-1 {
    width: 100%;
    text-align: center;
    height: 0;
    overflow: hidden;
    transition: height 0.4s ease;
  }
  .footer-div-1-2-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-div-1-2-shop-down {
    display: inline-block !important;
  }
  .footer-div-1-2-nav-1-open-active {
    height: 27vh;
  }
  /* .footer-div-1-2-nav-1-open {
    height: 30vh;
  } */
}

.footer-subscribe {
  font-size: larger;
}

.footer-subscribe-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.6rem;
}
.footer-subscribe-box input {
  width: 14rem;
  margin-right: 0.6rem;
  padding: 0.2rem;
  font-size: 14px;
}
