.product-body {
  width: 100%;
  padding: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: 55% 45%;
  background-color: rgb(255, 255, 255);
  /* border: 2px solid; */
}
.product-body p {
  font-family: Arial, Helvetica, sans-serif !important;
}

.product-gallery {
  padding: 2rem;
  padding-top: 0px;
}

.product-details-section {
  width: 95%;
  height: 90vh;
  padding-left: 3rem;
  overflow-y: scroll;
}

.product-details-section::-webkit-scrollbar {
  width: 0;
}

/* .product-details-section::-webkit-scrollbar-track {
  background: rgb(179, 179, 179);
}

.product-details-section::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0);
} */

.product-detail-heading p {
  font-size: 2.2rem;
  letter-spacing: 0.2rem;
  font-weight: bolder;
  font-family: Times, serif !important;
}

.product-detail-price {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgb(218, 218, 218);
}
.product-detail-price p {
  font-size: larger;
  /* font-weight: bold; */
  color: rgb(0, 0, 0);
}
.product-detail-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid; */
}

.product-detail-indicators {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2rem;
}
.product-detail-indicators p {
  margin-left: 0.8rem;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif !important;
}

.product-detail-description {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.product-detail-description p {
  font-family: Helvetica, sans-serif !important;
}
.product-detail-add-to-cart {
  width: 100%;
  height: 5vh;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(223, 80, 80); */
}
/* .product-detail-add-to-cart span {
  text-align: center;
  color: white;
  font-size: 1rem;
  /* font-weight: bold; */
/* letter-spacing: 0.2rem;
  font-family: Arial, Helvetica, sans-serif !important; */
/* } */

@media only screen and (max-width: 1000px) {
  .product-body {
    padding: 0.8rem;
    margin-top: 0.5rem;
  }
  .product-gallery {
    padding: 0%;
  }
  .product-body {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
  }
  .product-gallery {
    margin-top: 0rem;
    margin-bottom: 3rem;
    overflow-y: hidden;
  }

  .product-details-section {
    padding: 0%;
  }
  .product-detail-heading p {
    font-size: 1.5rem;
  }
  .product-detail-rating p {
    font-size: medium;
  }
  .product-detail-rating-rate span {
    font-size: 1.2rem;
  }
}

.product-variants-div {
  margin-top: 1rem;
}
.product-variants-div div {
  margin-top: 0.8rem;
}
.product-variants-div div label {
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  font-weight: 100;
  font-family: Roboto, Rajdhani, Helvetica, sans-serif;
}
.product-variants-div div select {
  margin-top: 0.5rem;
  font-size: 1.1rem;
  padding: 0.5rem;
  font-weight: lighter;
  padding-right: 2rem;
}
