.product-body {
  width: 100%;
  padding: 2rem;
  /* border: 1px solid red; */
  margin-top: 1.5rem;
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: 55% 45%;
  background-color: rgb(255, 255, 255);
  /* border: 2px solid; */
}
.product-body p {
  font-family: Arial, Helvetica, sans-serif !important;
}

.product-gallery {
  /* padding: 2rem; */
  padding-top: 0px;
  height: 90vh;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 1rem;
  z-index: 100000;
  /* border: 1px solid red; */
}

.product-details-section {
  padding: 0rem 1.3rem 0rem 3rem;
}

.product-detail-heading p {
  font-size: 2.2rem;
  /* letter-spacing: 0.1rem; */
  font-weight: bolder;
  font-family: Times, serif !important;
}

.product-detail-price {
  /* margin-top: 1rem; */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgb(218, 218, 218);
}
.product-detail-price p {
  font-size: 17px;
  font-weight:100;
  letter-spacing: .15rem;
  color: rgb(0, 0, 0);
}
.product-detail-rating {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* justify-content: space-between; */
  /* border: 1px solid red; */
}
.product-detail-rating p{
  font-size: 15px;
  padding-left: 0.4rem;
}

.product-detail-indicators {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: .4rem;
}
.product-detail-indicators p {
  margin-left: 0.6rem;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif !important;
}

.product-detail-description {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.product-detail-description p {
  font-family: Helvetica, sans-serif !important;
}
.product-detail-add-to-cart div {
  width: 100%;
  height: 5.6vh;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2rem;
  color: white;
  cursor: pointer;
  background-color: rgba(255, 52, 25, 0.89);
  margin-top: 2rem;
  /* background-color: rgb(223, 80, 80); */
}

.product-detail-add-to-cart-loading {
  width: 100%;
  height: 5.6vh;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2rem;
  color: white;
  cursor: pointer;
  background-color: rgba(255, 52, 25, 0.89);
  margin-top: 2rem;
  /* background-color: rgb(223, 80, 80); */
}
.product-detail-add-to-cart-loading div div {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}
/* .product-detail-add-to-cart span {
  text-align: center;
  color: white;
  font-size: 1rem;
  /* font-weight: bold; */
/* letter-spacing: 0.2rem;
  font-family: Arial, Helvetica, sans-serif !important; */
/* } */

@media only screen and (max-width: 1000px) {
  .product-body {
    padding: 0  ;
    margin-top: 0.5rem;
    grid-template-columns: 100%;
  }
  .product-gallery {
    padding: 0%;
    margin: 0;
    height: auto;
    position: relative;
    margin-top: 0rem;
    margin-bottom: 3rem;
  }

  .product-details-section {
    padding: 1.5rem;
  }
  .product-detail-heading p {
    font-size: 1.6rem;
  }
  .product-detail-rating p {
    font-size: medium;
  }
  .product-detail-rating-rate span {
    font-size: 1.2rem;
  }
}

.product-variants-div {
  margin-top: 1rem;
}
.product-variants-div div {
  margin-top: 0.8rem;
}
.product-variants-div div label {
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  font-weight: 100;
  font-family: Roboto, Rajdhani, Helvetica, sans-serif;
}
.product-variants-div div select {
  margin-top: 0.5rem;
  font-size: 1.1rem;
  padding: 0.5rem;
  font-weight: lighter;
  padding-right: 2rem;
}

/* .img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  width: 40px;
  height: 40px;
} */

