.footer-div-2 {
  width: 100%;
  height: auto;
  background-color: rgb(32, 32, 32);
  padding-bottom: 2rem;
  padding-top: 1rem;
  /* margin-bottom: 80vh; */
}

.footer-social-icons-div {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-social-icons-div ul {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: white;
}

.footer-social-icons-div ul li a {
  color: white;
  padding: 0.3rem;
}

#footer-social-icon-1 a:hover {
  color: rgb(66, 103, 178);
}
#footer-social-icon-2 a:hover {
  color: rgb(15, 79, 199);
}
#footer-social-icon-3 a:hover {
  color: rgb(55, 137, 245);
}
#footer-social-icon-4 a:hover {
  color: rgb(207, 59, 195);
}

.footer-copy-right {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-copy-right span {
  color: white;
}

.footer-gotoup-btn {
  position: absolute;
  right: 2rem;
  color: white;
  background-color: rgb(32, 32, 32);
  /* border: 1px solid white; */
  border-radius: 40px;
}
.footer-gotoup-btn:hover {
  color: rgb(97, 20, 20);
}
